.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


.content {
  margin-top: 60px; 
  width: 100%; 
  box-sizing: border-box; 
}
.my-footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
}
.my-header {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: center;
}
.my-button {
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
}

.my-button:hover {
  background-color: #0056b3;
}

.carousel-item img {
  width: 90%; 
  height: 350px; 
  object-fit: contain;
  margin: 0 auto; 
}


.carousel-item {
  object-fit: contain;
}




.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Formulario.css */

.formulario {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.formulario-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.formulario-select,
.formulario-textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulario-submit,
.formulario-reset {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px; 
}

.formulario-submit {
  background-color: #4CAF50; 
}

.formulario-submit:hover {
  background-color: #45a049; 
}

.formulario-reset {
  background-color: #f44336; 
  margin-left: 10px;
}

.formulario-reset:hover {
  background-color: #da190b;
}

.formulario-imagen {
  width: 800px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.formulario-respuesta {
  margin-top: 20px;
}

.formulario-comentario {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
.formulario-titulo {
  text-align: center; 
  color: #333;
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 20px; 
  font-family: 'Arial', sans-serif;
}




.mi-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.logo {
  width: 100px;
  height: auto;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.red-social {
  width: 30px;
  height: auto;
}




.inicio {
  text-align: center;
  padding: 20px; 
}

.logo {
  width: 100px; 
  height: auto;
}

.redes-sociales {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.red-social {
  width: 30px;
  height: auto;
}

.mi-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-family: 'Arial', sans-serif;
  position: relative;
}





body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.inicio {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1, h2, h3 {
  color: #354458;
}

p {
  color: #575d63;
}

.contenido {
  display: flex;
  justify-content: space-between;
}

.columna {
  flex-basis: 45%;
  margin-bottom: 30px;
}

.imagen, .video {
  width: 100%;
  border-radius: 10px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.red-social {
  width: 40px;
  margin: 0 10px;
}

.mi-footer {
  background-color: #354458;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

.mi-footer h1,
.mi-footer h2,
.mi-footer p {
  color: #ffffff; /* Esto cambiará el color de la letra a blanco */
}
